<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Refactoring in action</title>
    <style>
      .align-left {
        text-align: left;
      }
    </style>
  </head>
  <body>
    <main class="reveal">
      <div class="slides">
        <section>
          <h1>Рефакторинг на практике</h1>
          <p>Примеры рефакторинга реальных приложений.</p>
        </section>

        <section>
          <img alt="Show me the-code" style="max-width: 100%; height: auto" />
        </section>

        <% slides.forEach(slide => { %> <%- slide %> <% }) %>
      </div>
    </main>
    <%- mainJs %>
  </body>
</html>
